@model HomeModel
@{
    ViewData["Title"] = "Página Inicial";
}


<div style="width: auto; height: 100px;">
    <img src="~/—Pngtree—verdant natural green plant wall_13342238.jpg" class="img-thumbnail" alt="auto" repeat>
    <
</div>


<div class="text-center">
   
    <h1 class="display-4; fw-bold; text-light p-3">Bem Vindo!</h1>
    <p>Terra Verde</p>
</div>
