html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.neon {
  background-color: #17cf97;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 0.1rem;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px #17cf97, 0 0 20px #17cf97, 0 0 30px #17cf97;
}
